<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>
	<variable name="logDirectory" value="${basedir}\Log"/>
  <targets>
	  <target name="Errorlogfile" xsi:type="File"
			  fileName="${var:logDirectory}\Error_Log_${shortdate}.txt"
			  layout="${longdate} ${uppercase:${level}} ${logger} ${message}
					 ${newline}${exception:format=ToString}
					 ${newline} ${stacktrace}
					 ${newline}
					 ${aspnet-request-routeparameters} 
					 ${newline}
					 ${aspnet-request-url}
					 ${newline}
					 ${aspnet-response-statuscode}">		  
	  </target>
	  
	  <target name="Flowlogfile" xsi:type="File"
			 fileName="${var:logDirectory}\Log_${shortdate}.txt"
			 layout="${longdate} ${uppercase:${level}} ${logger} => ${message}">
	  </target>
	  
	  <target name="console" xsi:type="ColoredConsole"  />

	  <target name="seqContainer"  xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000" slidingTimeout="false"> 	  
		  <target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="">
			    <property name="Application" value="MinimalApi" />
				<property name="Environment" value="Devopment" />
		  </target>
	  </target>

  </targets>

  <rules>
	<logger name="FileConsoleLogger" minlevel="Error" writeTo="Errorlogfile" />
	<logger name="FileConsoleLogger" level="Info" writeTo="Flowlogfile" />
	<logger name="*" minlevel="Info" writeTo="console" />
	<logger name="SeqLogger" minlevel="Info" writeTo="seqContainer" />

  </rules>
</nlog>