<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
	  internalLogFile="c:\Log\temp\MinimalApiDemo\NlogDemoTemp_${shortdate}.txt">
	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Targets.Seq"/>
	</extensions>
	
	<!-- the targets to write to -->
	<targets>
		<target name="Logfile" xsi:type="File" fileName="c:\Log\MinimalApiDemo\LogDemo_${shortdate}.txt" 
				layout="${longdate}${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}">
			
		</target>

		<target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
			<target xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="0ou7sPjpe5BmiiJ1QNIC" />
		</target>
	</targets>

	<!-- mm5yQMKEWToqMwGBlQxL <- - - for info logging-->
	<!-- Rules to determine where all log messages must go -->
	<rules>
		<logger name="*" minlevel="Error" writeTo="logfile" />
		<logger name="*" minlevel="Warning" writeTo="seq" />
	</rules>
</nlog>
	
	